
a:link, a:visited {
    background-color: #424040;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(0, 255, 38);
  }